@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<img src="~/Images/success-student-logo-graduation-sign-logo-symbol-vector-28120151.jpg" />
<p>This site is for the university system.. for ease of dealing with the departments on your own account.</p>
