@using ProjectMVC.Models

@model WebsiteDesc

<div class="container">

    <div class="col-sm-12">
        <h3>@Model.Title</h3>
        <p>@Model.Description</p>
        <img src="~/Images/png-transparent-computer-icons-arshad-ayub-graduate-business-school-students-miscellaneous-logo-monochrome.png" />
    </div>


</div>